<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPrueba</servlet-name>
        <servlet-class>Servlet.ServletPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPreguntas</servlet-name>
        <servlet-class>Servlet.ServletPreguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVista</servlet-name>
        <servlet-class>Servlet.ServletVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRespuestas</servlet-name>
        <servlet-class>Servlet.ServletRespuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Servlet.Servlet_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrueba2</servlet-name>
        <servlet-class>Servlet.ServletPrueba2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrueba</servlet-name>
        <url-pattern>/ServletPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPreguntas</servlet-name>
        <url-pattern>/ServletPreguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVista</servlet-name>
        <url-pattern>/ServletVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRespuestas</servlet-name>
        <url-pattern>/ServletRespuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrueba2</servlet-name>
        <url-pattern>/ServletPrueba2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
